input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.product {
  padding-bottom: 10px;
  position: relative;

  margin-top: 2px;
  margin-bottom: 10px;

  .row {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;

    label {
      font-size: 1.2rem;
      font-weight: 600;
      opacity: .6;
      // padding-bottom: 0px;
      text-align: center;
      width: 30%;
    }
    input {
      width: 70%;
      padding: 0 10px;
      height: 30px;
      font-size: 1.5rem;
      letter-spacing: 2px;
      color: var(--colorTextBody);
      outline: none;
      border: 1.5px solid var(--colorPrimaryBorder);
      border-radius: 10px;

      &::placeholder {
        color: var(--colorTextPlaceholder);
      }
    }

    .label__info {
      font-size: .85rem;
      margin-right: 10px;
      color: rgba(#490A3D, .8)
    }
    .result {
      min-width: 50%;
      min-height: 34px;
      // padding: 1px;
      text-align: center;
      border: 1.5px solid var(--colorPrimaryBorder);
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: var(--backgroundInput);
    }

    .lowest {
      background-color: var(--colorPrimaryBorder);
    }
  }

  .button__removeprod {
    // display: none;

    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    position: absolute;
    top: -13px;
    right: 2px;

    color: var(--colorCancel);
    background-color: rgba(grey, 0.0);
    outline: none;
    cursor: pointer;

    &:hover {
      color: var(--colorCancelHover)
    }
  }

  &::after {
    content: "";
    margin: 0 auto;
    margin-top: 6px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    
    background-color: var(--colorPrimary);
    width: 50%;
    height: 2px;
  }
}

.lowest {
  background-color: rgba(144, 238, 144, 0.2);
}