@import "../../variables/colors.module.scss";

.button_addprod {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  background-color: $addColorThirdly;
  outline: none;

  &:hover {
    background-color: $addColorSecondary;
  }
  &:active {
    background-color: $addColorPrimary;
  }
}