.button_addprod {
  margin: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 2.1rem;
  font-weight: bold;

  background-color: rgba(144, 238, 144, 0.5);
  outline: none;

  &:hover {
    background-color: rgba(144, 238, 144, 0.6);
  }
  &:active {
    background-color: rgba(144, 238, 144, 0.99);
  }
}