@import "../../variables/colors.module.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  h1 {
    font-size: 1.6rem;
    // color: $colorPrimary;
    // color: $colorSecondary;
    color: $infoColor;
  }

  .button__info {
    font-style: italic;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1.5px solid $infoColor;
    color: $infoColor;
    font-weight: bold;
    background-color: $backgroundColor;
    
    position: absolute;
    top: 5px;
    right: 5px;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgba($infoColor, 0.1);
    }
    &:active {
      background-color: $infoColor;
      color: $backgroundColor;
    }
  }
}