.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  h1 {
    font-size: 1.6rem;
    // color: $infoColor;
    color:  var(--colorInfo);
  }

  .button__info {
    font-style: italic;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1.5px solid  var(--colorInfo);
    color:  var(--colorInfo);
    font-weight: bold;
    background-color: var(--backgroundBody);
    
    position: absolute;
    top: 5px;
    right: 5px;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: var(--colorInfoLight);
    }
    &:active {
      background-color: var(--colorInfo);
      color: var(--backgroundInput);
    }
  }
}