.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  h1 {
    font-size: 1.8rem;
  }

  .button__info {
    font-style: italic;
    font-size: 1rem;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid lightskyblue;
    color: lightskyblue;
    background-color: white;
    
    position: absolute;
    top: 5px;
    right: 5px;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgba(135, 206, 250, 0.1);
      border: 1px solid rgba(135, 206, 250, 0.3);
      color: rgb(64, 182, 255);
    }
    &:active {
      background-color: lightskyblue;
      color: white;
    }
  }
}