@import "../../variables/colors.module.scss";

.footer {
  padding: 5px;
  display: flex;

  justify-content: flex-end;
  align-items: center;

  .button__reset {
    padding: 7px 10px;
    background-color: $backgroundColor;
    border: 1.5px solid $cancelColor;
    border-radius: 5px;
    color: $cancelColor;
    font-size: 1rem;
    // outline: none;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgba($color: $cancelColor, $alpha: .1);
      color: $cancelColor;
    }
    &:active {
      background-color: $cancelColor;
      color: $backgroundColor;
    }
  }
}