@import "./themes/coloredThemes.module.scss";

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat/Montserrat-Medium.ttf);
  font-family: SanFrancisco;
  src: url(./fonts/SanFrancisco/SFUIText-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  // font-family: Montserrat;
  font-family: SanFrancisco;
  color: var(--colorTextBody);
  background-color: var(--backgroundBody);
}

// // GRID
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr 50px;

  footer {
    position: sticky;
    bottom: 0;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}