@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat/Montserrat-Medium.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Montserrat;
  font-size: 1.1rem;
}

// FLEX
.wrapper {
  width: 100%;
  // padding: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  div:nth-child(1) {
    flex: 0 0 70px;
    
  }
  div:nth-child(2) {
    flex: 1 0 auto;
    
  }
  div:nth-child(3) {
    flex: 0 0 50px;
    
  }
}

// // GRID
// .wrapper {
//   height: 100vh;
//   display: grid;
//   grid-template-rows: 70px 1fr 50px;
// }

@media screen and (min-width: 600px) {
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}