@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat/Montserrat-Medium.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Montserrat;
  font-size: 1.1rem;
}

// FLEX
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    flex: 0 0 70px;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex: 0 0 50px;
  }
}

// // GRID
// .wrapper {
//   height: 100vh;
//   display: grid;
//   grid-template-rows: 70px 1fr 50px;
// }

@media screen and (min-width: 600px) {
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}